$textColour: #FFF;

$brandColour: #45D399;
$accentColour: #4545D3;
$panelColour: #6F719D;
$backgroundColour: #515379;
$toolbarColour: #4A4D66;

$toolbarHeight: 70px;
// $statusbarHeight: 26px;
$statusbarHeight: 0px;

$filterBarHeight: 36px;

$textOnPanelColour: #2B2D3B;
$textOnBackgroundColour: #ACB2D0;

$shadowColour: #29292c;
$toolbarShadowHeight: 5px;

$tabHeight: 60px;


html {
	box-sizing: border-box;
}

* {
	box-sizing: inherit;
	cursor: default;
	user-select: none;
}

a {
	cursor: pointer;
}



@mixin insetShadow {
	box-shadow: rgba($shadowColour, 0.8) 0 4px 2px -2px inset;
}



/*throbber-shell0 {
	width: 100px;
	height: 100px;
	position: absolute;
	margin: -15px;
	left: 400px;
	top: 400px;
	display: block;
	border-left: 7px solid rgba($brandColour, 0.4);
	border-top: 7px solid rgba($brandColour, 0.4);
	border-radius: 99999px;
	z-index: 999;
	animation: negspin 1.8s linear infinite;
}*/
throbber-shell1 {
	width: 70px;
	height: 70px;
	position: absolute;
	left: 400px;
	top: 400px;
	display: block;
	border-left: 5px solid $brandColour;
	border-top: 5px solid $brandColour;
	border-radius: 99999px;
	z-index: 999;
	animation: spin 1s linear infinite;
}
throbber-shell2 {
	width: 50px;
	height: 50px;
	position: absolute;
	left: 400px;
	top: 400px;
	margin: 10px;
	display: block;
	border-left: 3px solid $brandColour;
	border-top: 3px solid $brandColour;
	border-radius: 99999px;
	z-index: 999;
	animation: negspin 0.5s linear infinite;
}
@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}
@keyframes negspin {
	100% {
		transform: rotate(-360deg);
	}
}




body {	
	margin: 0;
	padding: 0;
	background-color: $backgroundColour;
	font-family: 'Noto Sans', 'Lucida Sans', Helvetica, 'Microsoft Sans Serif', Arial, sans-serif;
	font-size: 11pt;
	// box-sizing: content-box;
	overflow: hidden;
}

// todo - is shell necessary? seems to serve same purpose as body element
x-shell {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	background-color: $backgroundColour;
	position: relative;
	display: block;
}

x-toolbar {
	height: $toolbarHeight;
	width: 100%;
	//background-image: linear-gradient(to bottom, $toolbarColour 0%, $toolbarColour /*todo blend this with the shadow colour*/ 93%, mix($shadowColour, $accentColour, 80%) 93%, $accentColour 100%);
	background-image: linear-gradient(to bottom, $toolbarColour 0px, $toolbarColour calc(#{$toolbarHeight} - #{$toolbarShadowHeight}), mix($shadowColour, $accentColour, 80%) calc(#{$toolbarHeight} - #{$toolbarShadowHeight}), $accentColour 100%);
	display: block;
	z-index: 1000;

	x-tabGroup {
		height: $tabHeight;
		display: block;
		position: absolute;
		top: calc(#{$toolbarHeight} - #{$tabHeight});
		color: white;
		font-size: 14pt;

		&.right {
			right: 60px;
		}

		x-tab {
			display: inline-block;
			padding: 4px 30px 4px 30px;
			height: $tabHeight;
			background-image: linear-gradient(to bottom, gray 0%, gray 92%, mix($shadowColour, $accentColour, 80%) 92%, $accentColour 100%);
			//background-image: linear-gradient(to bottom, gray 0px, gray 54px, mix($shadowColour, $accentColour, 80%) 54px, $accentColour 100%);
			border-top-left-radius: 6px;
			border-top-right-radius: 6px;
			border-top: 2px solid #3C3E50;
			border-right: 2px solid #3C3E50;
			border-left: 2px solid #3C3E50;
			margin-left: -2px;
			margin-right: -2px;

			&.active {
				background-image: none;
				background-color: $accentColour;
				border-top: 2px solid #35378B;
				border-right: 2px solid #35378B;
				border-left: 2px solid #35378B;
				margin-left: 0;
				margin-right: 0;
			}
		}
	}
}

/*x-statusbar {
	height: $statusbarHeight;
	width: 100%;
	background-color: $accentColour;
	color: $textColour;
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 3px 2px 3px 2px;
	display: block;
	box-sizing: border-box;
}*/

x-resultsPanel {
	@include insetShadow;
	position: absolute;
	left: 0;
	top: $toolbarHeight + $filterBarHeight;
	height: calc(100vh - #{$toolbarHeight} - #{$statusbarHeight} - #{$filterBarHeight});
	width: 65%;
	background-color: $backgroundColour;
	display: block;
	overflow-y: auto;
	color: $textOnBackgroundColour;
	font-weight: bolder;
	z-index: 1000;
}

x-summaryPanel {
	@include insetShadow;
	position: absolute;
	right: 0;
	top: $toolbarHeight + $filterBarHeight;
	height: calc(100vh - #{$toolbarHeight} - #{$statusbarHeight} - #{$filterBarHeight});
	width: 35%;
	background-color: $panelColour;
	display: block;
	overflow-y: auto;
	color: $textOnPanelColour;
	z-index: 800;
}

x-badge {
	border-radius: 6px;
	padding: 0 5px 0 5px;
	background-color: $brandColour;

	&.pass {
		background-color: forestgreen;
	}

	&.fail {
		background-color: red;
	}
}

x-filterBar {
	//@include insetShadow;
	position: absolute;
	left: 0;
	top: $toolbarHeight;
	height: $filterBarHeight;
	width: 100%;
	background-color: $accentColour;
	display: block;
	z-index: 900;
	//background-image: linear-gradient(to bottom, $shadowColour 0%, $accentColour /*todo blend this with the shadow colour*/ 10%, $accentColour 100%);
}

x-resultsTree {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	display: block;
	overflow-y: scroll;
}


[tooltip]:before {
	opacity: 0;
	background: rgba(black, 0.7);
	padding: 4px 20px 4px 20px;
	border-radius: 4px;
	position: absolute;
	left: calc(attr(left) + attr(width) / 2);
	bottom: -12px;
	content: attr(tooltip);
	white-space: nowrap;
	font-size: 11pt;
	z-index: 9999999;
	transition: opacity 0.15s ease-in-out 0s;
}

[tooltip]:hover:before {
	opacity: 1;
	transition: opacity 0.15s ease-in-out 0.6s;
}