html {
  box-sizing: border-box; }

* {
  box-sizing: inherit;
  cursor: default;
  user-select: none; }

a {
  cursor: pointer; }

input[type="search"] {
  cursor: text; }

input[type="text"] {
  cursor: text; }

/*throbber-shell0 {
	width: 100px;
	height: 100px;
	position: absolute;
	margin: -15px;
	left: 400px;
	top: 400px;
	display: block;
	border-left: 7px solid rgba($brandColour, 0.4);
	border-top: 7px solid rgba($brandColour, 0.4);
	border-radius: 99999px;
	z-index: 999;
	animation: negspin 1.8s linear infinite;
}*/
throbber-shell1 {
  width: 70px;
  height: 70px;
  position: absolute;
  left: 400px;
  top: 400px;
  display: block;
  border-left: 5px solid #45D399;
  border-top: 5px solid #45D399;
  border-radius: 99999px;
  z-index: 999;
  animation: spin 1s linear infinite; }

throbber-shell2 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 400px;
  top: 400px;
  margin: 10px;
  display: block;
  border-left: 3px solid #45D399;
  border-top: 3px solid #45D399;
  border-radius: 99999px;
  z-index: 999;
  animation: negspin 0.5s linear infinite; }

@keyframes spin {
  100% {
    transform: rotate(360deg); } }
@keyframes negspin {
  100% {
    transform: rotate(-360deg); } }
body {
  margin: 0;
  padding: 0;
  background-color: #515379;
  font-family: 'Noto Sans', 'Lucida Sans', Helvetica, 'Microsoft Sans Serif', Arial, sans-serif;
  font-size: 11pt;
  overflow: hidden; }

x-shell {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #515379;
  position: relative;
  display: block; }

x-toolbar {
  height: 70px;
  width: 100%;
  background-color: #4A4D66;
  display: block;
  z-index: 1000; }
  x-toolbar x-tabGroup {
    height: 60px;
    display: block;
    position: absolute;
    top: calc(70px - 60px);
    color: white;
    font-size: 14pt; }
    x-toolbar x-tabGroup.right {
      right: 60px; }
    x-toolbar x-tabGroup x-tab {
      position: relative;
      display: inline-block;
      width: auto;
      padding: 4px 34px 4px 34px;
      height: 60px;
      background-color: gray;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      border-top: 2px solid #3C3E50;
      border-right: 2px solid #3C3E50;
      border-left: 2px solid #3C3E50;
      margin-left: calc(0px - 2px);
      margin-right: calc(0px - 2px);
      /*::after {
      	border-image: linear-gradient(to bottom, black 0px, red 15px) 10;
      	border-radius: inherit;
      }*/ }
      x-toolbar x-tabGroup x-tab.active {
        background-image: none;
        background-color: #4545D3;
        border-top: 2px solid #35378B;
        border-right: 2px solid #35378B;
        border-left: 2px solid #35378B;
        margin-left: 0;
        margin-right: 0; }
        x-toolbar x-tabGroup x-tab.active::after {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          right: 0;
          top: calc(60px - 2px);
          height: 5px;
          background-color: #4545D3;
          z-index: 4000; }

/*x-statusbar {
	height: $statusbarHeight;
	width: 100%;
	background-color: $accentColour;
	color: $textColour;
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 3px 2px 3px 2px;
	display: block;
	box-sizing: border-box;
}*/
x-resultsPanel {
  box-shadow: rgba(41, 41, 44, 0.8) 0 4px 2px -2px inset;
  position: absolute;
  left: 0;
  top: 106px;
  height: calc(100vh - 70px - 0px - 36px);
  width: 65%;
  background-color: #515379;
  display: block;
  overflow-y: auto;
  color: #ACB2D0;
  font-weight: bolder;
  z-index: 1000; }

x-summaryPanel {
  box-shadow: rgba(41, 41, 44, 0.8) 0 4px 2px -2px inset;
  position: absolute;
  right: 0;
  top: 106px;
  height: calc(100vh - 70px - 0px - 36px);
  width: 35%;
  background-color: #6F719D;
  display: block;
  overflow-y: auto;
  color: #2B2D3B;
  z-index: 800; }

x-badge {
  border-radius: 6px;
  padding: 0 5px 0 5px;
  background-color: #45D399; }
  x-badge.pass {
    background-color: forestgreen; }
  x-badge.fail {
    background-color: red; }

x-filterBar {
  position: absolute;
  left: 0;
  top: 70px;
  height: 36px;
  width: 100%;
  background-color: #4545D3;
  display: block;
  z-index: 900;
  background-image: linear-gradient(to bottom, #2f2f4d 0%, #4545D3 5px, #4545D3 100%); }

x-resultsTree {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: block;
  overflow-y: scroll; }

[tooltip]:before {
  opacity: 0;
  background: rgba(0, 0, 0, 0.7);
  padding: 4px 20px 4px 20px;
  border-radius: 4px;
  position: absolute;
  bottom: -20px;
  content: attr(tooltip);
  white-space: nowrap;
  font-size: 11pt;
  z-index: 9999999;
  transition: opacity 0.15s ease-in-out 0s; }

[tooltip]:hover:before {
  opacity: 1;
  transition: opacity 0.15s ease-in-out 0.6s; }

/*# sourceMappingURL=shell.css.map */
