$brandColour: #45D399;
$accentColour: #4545D3;
$panelColour: #6F719D;
$backgroundColour: #515379;
$toolbarColour: #4A4D66;

$toolbarHeight: 64px;
$toolbarPadding: 4px;
// $statusbarHeight: 26px;
$statusbarHeight: 0px;

$filterBarHeight: 36px;

$textOnPanelColour: #2B2D3B;
$textOnBackgroundColour: #ACB2D0;

$shadowColour: #29292c;
$toolbarShadowHeight: 5px;

$tabHeight: 54px;
$tabBorderWidth: 2px;
